<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <fieldset>
        <form action="/" method="post">
          <input name="city" type="text" class="city-input" placeholder="City Name" required>
          <input type="submit" class="city-button" value="Get Forecast">
        </form>
        <% if(weather !== null){ %>
          <div class="weather-info weather-<%= weather.condition.toLowerCase() %>"> <!-- Added class for dynamic background -->
            <h3><%= weather.name %></h3>
            <img src="http://openweathermap.org/img/wn/<%= weather.icon %>@2x.png" alt="<%= weather.description %>">
            <p class="temperature"><%= weather.temp %>°F</p>
            <p class="description"><%= weather.description %></p>
            <p>Humidity: <%= weather.humidity %>%</p>
            <p>Wind: <%= weather.windSpeed %> m/s</p>
            <!-- This condition can be used for more specific messages or styling if needed -->
            <!-- <p>Condition: <%= weather.condition %></p> -->
          </div>
        <% } %>

        <% if(error !== null){ %>
          <p class="error-message"><%= error %></p>
        <% } %>
      </fieldset>
    </div>
  </body>
</html>
